@inherits LayoutComponentBase
@inject NavigationManager Navigation;

<div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>LOGO.</p>
        </div>
        <div class="search" id="search">
            <input placeholder="Search friends, posts ect..."/>
        </div>
        <div class="nav-button">
            <button class="btn white-btn" @onclick="ToProfile">Profile</button>
            <button class="btn" @onclick="ToPosts">Blog</button>
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu"></i>
        </div>
    </nav>

    <main style="overflow: hidden; width: 1000px;">
        @Body
    </main>
</div>

@code{
    private void ToProfile() => Navigation.NavigateTo("profile");

    private void ToPosts() => Navigation.NavigateTo("home");
}