<div class="comment">
    <div class="user-profile">
        <img src="images/photo.jpg" alt="commenterPhoto" class="commenter-photo">
        <div>
            <p>Commenter1</p>
            <span>@Comment.CreatedAt</span>
        </div>
    </div>
    <div class="comment-text">@Comment.Content</div>
</div>