
.profile-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 8px;
    padding-bottom: 0;
}

.info-col {
    flex-basis: 39%;
    min-width: 300px;
}

.post-col {
    flex-basis: 66%;
    max-width: 600px;
}

.profile-intro {
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 11px;

    &:first-child {
        padding-bottom: 5px;
    }

    h3 {
        font-weight: 600;
    }

    hr {
        margin: 3px 0;
    }

    ul li {
        list-style: none;
        font-size: 15px;
        margin: 8px 0;
        display: flex;
        align-items: center;
    }

    p {
        font-size: 14px;
        color: #626262;
    }
}

.intro-text {
    font-size: 15px;
    color: #626262;
}


.title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: #626262;
        font-size: 14px;
    }
}

.photo-box {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin-top: 15px;
}

.photo-box div img {
    width: 100%;
    border-radius: 50%;
}

.friends-box {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin-top: 15px;
    text-align: center;
}

.friends-box div img {
    width: 100%;
    border-radius: 50%;
}

.friends-box div {
    position: relative;
    padding-bottom: 20px;
}

.friends-box p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}
