@page "/Profile/{username}"
@inherits SocialApp.Client.Components.Profile.BaseProfileComponent

<div class="profile-container">
    @if (!Loading)
    {
        <ProfileDetailsComponent
            Profile="_profile"
            AddToFriend="AddToFriend"
            RemoveFromFriends="RemoveFromFriends"/>

        <ProfileInfoComponent
            Loading="Loading"
            Posts="_posts"
            Profile="_profile"/>
    }
</div>