@page "/Profile"
@inherits LoadingComponent

<div class="profile-container">
    @if (!Loading)
    {
        <ProfileDetailsComponent
            Profile="_profile"
            ProfileImagePreview="@_profileImagePreview"
            OnProfilePhotoChange="OnProfilePhotoChange"/>
    }

    <ProfileInfoComponent
        Loading="Loading"
        Posts="_posts"
        Profile="_profile"
        PostCreated="PostCreated"
        PostDeleted="PostDeleted"/>
</div>