.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #626262;
    width: 1000px;
}

.cover-img {
    width: 100%;
    margin: 0 auto 14px;
    max-width: 1000px; /* Максимальна ширина зображення */
    border-radius: 6px; /* Закруглені кути */
    overflow: hidden; /* Запобігає виходу частин зображення за межі контейнера */
    height: auto; /* Зберігає пропорції зображення */
    display: block; /* Прибирає пробіли під зображенням */
}