@page "/posts"
@inherits LoadingComponent

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@if (Loading)
{
    <p>Loading...</p>
}
else
{
    <div class="main-content">
        <SidebarComponent/>

        <div class="posts">
            <CreatePost OnPostCreated="PostCreated" Profile="_profile"/>
            @foreach (var post in _posts)
            {
                <PostOverview Post="post"/>
            }
        </div>
    </div>
}