@page "/posts"
@inherits SocialApp.Client.Components.Base.LoadingComponent

@using Microsoft.AspNetCore.Authorization
@using SocialApp.Client.Components.Post
@using SocialApp.Client.Components.Base
@attribute [Authorize]

<div class="main-content">
    <SidebarComponent />

    <div class="posts">
        <CreatePost/>
        @if (Loading)
        {
            <div>Loading...</div>
        }
        else
        {
            @foreach (var post in _posts)
            {
                <PostOverview Post="post"/>
            }
        }
    </div>
</div>