<div class="write-post-container">
    <div class="user-profile">
        <img src="images/photo.jpg" alt="userPhoto" class="sidebar__image">
        <div>
            <p>Pcholin</p>
            <small>Public</small>
        </div>
    </div>

    <div class="post-input-container">
        <textarea rows="3" placeholder="What's on your mind, Pcholin?" @bind="_createPostRequest.Content"></textarea>
        <div class="button-container">
            <div class="add-post-links">
                <a href="#"><img src="images/image-add-regular-24.png"> Photo</a>
            </div>
            <div class="public-post-btn">
                <button class="btn white-btn" id="publicBtn" @onclick="async () => await Create()">Public</button>
            </div>
        </div>
    </div>
</div>