.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.user-profile {
    display: flex;
    align-items: center;

    img {
        width: 45px;
        border-radius: 50%;
        margin-right: 10px;
    }

    p {
        margin-bottom: -5px;
        font-weight: 600;
        color: #626262;
    }

    small {
        font-size: 12px;
    }
}

.post-container {
    width: 100%;
    max-width: 1000px;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 0 auto;
    margin-top: 8px;
}

.user-profile span {
    font-size: 13px;
    color: #9a9a9a;
}

.post-text {
    color: #626262;
    margin: 15px 0;
    padding-left: 55px;
    font-size: 17px;
}

.post-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        size: 9px;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
}

.activity-icons div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;

    img {
        width: 18px;
        margin-right: 10px;
    }
}