<div class="post-container">
    <div class="post-row">
        <div class="user-profile">
            <img src="images/photo.jpg" alt="userPhoto" class="sidebar__image">
            <div>
                <p>Pcholin</p>
                <span>October 14 2024, 9:46</span>
            </div>
        </div>
        <a href="#">
            <img src="images/dots-vertical-rounded-regular-24.png">
        </a>
    </div>

    <p class="post-text">@Post.Content</p>

    <div class="post-row">
        <div class="activity-icons">
            <div><img src="images/like-regular-24.png"> 120</div>
            <div><img src="images/comment-regular-24.png"> 10</div>
            <div><img src="images/share-regular-24.png"> 20</div>
        </div>

        <div class="post-profile-icon">

        </div>
    </div>
</div>