@using SocialApp.Client.Components.Comment
<div class="post-container">
    <div class="post-row">
        <div class="user-profile">
            <img src="images/photo.jpg" alt="userPhoto" class="sidebar__image">
            <div>
                <p>Pcholin</p>
                <span>@Post.CreatedAt</span>
            </div>
        </div>
        <a href="#">
            <img src="images/dots-vertical-rounded-regular-24.png">
        </a>
    </div>

    <p class="post-text">@Post.Content</p>

    <div class="post-row">
        <div class="activity-icons">
            <button><img src="images/like-regular-24.png"> 120</button>
            <button @onclick="async () => await ToggleShowComments()" class="comments-icon"><img src="images/comment-regular-24.png"> 10</button>
            <button><img src="images/share-regular-24.png"> 20</button>
        </div>
    </div>

    @if (_showCommnets && _comments is not null && _comments.Any())
    {
        <div class="comments-section">
            @foreach (var comment in _comments)
            {
                <CommentComponent Comment="comment"/>
            }
        </div>
    }
</div>