@page "/register"

<EditForm Model="registerRequest" OnValidSubmit="HandleRegister">
    <InputText @bind-Value="registerRequest.Email" placeholder="Email" />
    <InputText @bind-Value="registerRequest.Password" type="password" placeholder="Password" />
    <InputText @bind-Value="registerRequest.ConfirmPassword" type="password" placeholder="Confirm Password" />
    <button type="submit">Register</button>
</EditForm>
