.register-container {
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.top span {
    color: #faf4ef;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;

    button {
        font-weight: 500;
        color: #f0ebe6;
        margin-left: 5px;
        background: none;
        border: none;
        text-decoration: underline;
    }
}

header {
    color: #faf4ef;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 30px 0;
}

.two-forms {
    display: flex;
    justify-content: space-between;
}

.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;

    &:hover, &:focus {
        background: rgba(255, 255, 255, 0.25);
    }
}

::-webkit-input-placeholder {
    color: #fff;
}

.input-box {
    margin-top: 5px;

    i {
        position: relative;
        top: -35px;
        left: 17px;
        color: #fff;
    }
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;

    &:hover {
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    }
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;

    .one {
        display: flex;
        gap: 5px;
    }
}

.two label {
    a {
        text-decoration: none;
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }
}
