<div class="register-container" id="register">
    <div class="top">
        <span>Have an account? <button onclick="@ChangeToLogin">Login</button></span>
        <header>Sign Up</header>
    </div>
    <div class="two-forms">
        <div class="input-box">
            <input type="text" class="input-field" id="register-firstname" placeholder="Firstname" @bind="_registerRequest.FirstName">
            <i class="bx bx-user"></i>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" id="register-lastname" placeholder="Lastname" @bind="_registerRequest.LastName">
            <i class="bx bx-user"></i>
        </div>
    </div>
    <div class="input-box">
        <input type="email" class="input-field" id="register-username" placeholder="Username" @bind="_registerRequest.Username">
        <i class="bx bx-envelope"></i>
    </div>
    <div class="input-box">
        <input type="email" class="input-field" id="register-email" placeholder="Email" @bind="_registerRequest.Email">
        <i class="bx bx-envelope"></i>
    </div>
    <div class="input-box">
        <input type="password" class="input-field" id="register-password" placeholder="Password" @bind="_registerRequest.Password">
        <i class="bx bx-lock-alt"></i>
    </div>
    <div class="input-box">
        <input type="password" class="input-field" id="register-confirm-password" placeholder="Confirm Password" @bind="_registerRequest.ConfirmPassword">
        <i class="bx bx-lock-alt"></i>
    </div>
    <div class="input-box">
        <button type="button" class="submit" id="registerBtnSubmit" @onclick="async () => await OnRegister(_registerRequest)">Register</button>
    </div>
    <div class="two-col">
        <div class="one">
            <input type="checkbox" id="register-check">
            <label for="register-check"> Remember Me</label>
        </div>
        <div class="two">
            <label>
                <a href="#">Terms & conditions</a>
            </label>
        </div>
    </div>
</div>